@mixin flexRow($justify-conten: space-between) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-conten;
    padding-inline: 23%;
}

@mixin flexColumm($justify-conten: space-between) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-conten;
    padding-inline: 23%;
    gap: 23px;
}

.headerConteiner {
    max-width: 100%;
    padding-block: 20px;
    @include flexRow;
}

.userContainer {
    max-width: 100%;
    padding-block: 45px;
    @include flexRow;
    border-top: 1px solid var(--grey-3);
    border-bottom: 1px solid var(--grey-3);
}

.contentContainer {
    max-width: 100%;
    padding-top: 45px;
    @include flexColumm($justify-conten: start);
}

.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    padding: 77.329px 0px 85px 0px;
    justify-content: center;
    align-items: center;
    gap: 36px;

    & img {
        width: 145px;
    }
}

.standartContainer {
    display: flex;
    padding: 42px 22px;
    flex-direction: column;
    align-items: center;
    gap: 22px;

    width: 369px;

    border-radius: 4px;
    background: var(--grey-3, #212529);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 365px;
    gap: 22px;
}

.campContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    width: 360px;
}